.prev {
  position: absolute;
  left: -10px !important;
  z-index: 100 !important;
}

.next {
  position: absolute;
  right: -10px !important;
  z-index: 100 !important;
}

.shop-image {
  height: 269px;
}
