.feedback {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.feedback-title {
  color: #ffffff !important;
  margin-bottom: 3rem !important;
}

.feedback-subtitle {
  margin-top: 2rem !important;
  color: #bbbbbb;
}

.feedback-description {
  margin-top: 2rem !important;
  color: #bbbbbb;
  //@media only screen and (max-width: 600px) {
  //  margin-top: 1rem !important;
  //}
}

.btn-facebook {
  padding: 10px 15px;
  background: #3b5998;
  border-radius: 44px;
  color: #ffffff;
  text-transform: capitalize;
}

.btn-facebook:hover {
  color: #e2e6ea;
  background: #365398;
}

.avatar-caption {
}

.avatar-title {
  color: #bbbbbb;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 700;
}

.avatar-subtitle {
  margin-bottom: 2rem !important;
  font-size: 14px;
  font-weight: 300;
  color: #bbbbbb;
}

.avatar-img-mini {
  width: 100px;
  height: 100px;
  overflow: hidden;
  box-shadow: 0 0 0 8px rgba(0, 203, 246, 0.23);
}

.avatar {
  width: 100px;
  height: 100px;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center !important;
}

.height {
  height: 80vh;
  @media only screen and (max-width: 992px) {
    height: 100vh;
  }
}

.button__control {
  color: #ffffff;
  border: none;
  box-shadow: none;
  height: 100%;
  width: calc(100vh - 90vh);
  opacity: 0.5;
  transition: 0.7s;
  outline: none;

  background-color: #312e2e14;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
}

.button__prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.button__next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.carousel__dot-group {
  .carousel__dot {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    margin: 4px;
    background-color: rgba(0, 203, 246, 0.23);
    &--selected {
      background-color: rgba(0, 203, 246, 0.7);
    }
  }
}
