.about-spirit-gym {
  padding: 2rem 0 2rem;
  background: rgb(31, 35, 44);
  color: #d3d9df;
}

.about-spirit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-spirit-gym-description {
  margin-bottom: 1rem !important;
  text-align: justify !important;
}

.video-container {

}

.img {
  width: 100%;
  max-width: 100%;
}

.about-title {
  font-size: 1rem;
  font-weight: 700;
}

.about-title-icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: #d3d9df;
}

.about-team {
}

.team-img {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.grey-text {
  color: #777777;
}
